<div class="navigation-btns">
	<div>
		<button type="button" (click)="backFolder()" [disabled]="!path.length>0">
      <i class="material-icons">arrow_back</i>
    </button>
    <button type="button" (click)="upFolder()" [disabled]="!forword.length>0">
      <i class="material-icons">arrow_forward</i>
    </button>
  </div>
  <button type="button" (click)="createFolder()" [disabled]="createMode"><i class="material-icons">create_new_folder</i></button>
</div>
<div class="folder" (click)="backFolder()" *ngIf="path.length>0">
../
</div>
<div class="folder" *ngFor="let item of root | keyvalue" (click)="onFolderClick(item.key)">
  <i class="material-icons folder-icon">folder</i>
  <span>
    {{item.key}}
  </span>
</div>
<div class="folder create-folder" *ngIf="createMode">
  <form class="" (ngSubmit)="onSubmit(newFolderForm.value)" #newFolderForm="ngForm">
    <input type="text" placeholder="New Folder" name="folderName" [(ngModel)]="folderName" autocomplete="off">
    <button type="button" class="submit-btn" (click)="cancelCreate()">
      <i class="material-icons">close</i>
    </button>
    <button type="submit" class="submit-btn">
      <i class="material-icons">check</i>
    </button>
  </form>
</div>
<div class="error-msg" *ngIf="errorMsg">
  {{errorMsg}}
</div>